div.entire {
    text-align: center;
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-evenly;
    background-color: #f6f6f6;

}

div.scaffold {
    width: 300px;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 0%;
    padding: 3%;
    border:none;
    border-radius: 30px;
    background-color: #ffffff;

}

div.scaffold_img {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

p.title {
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin-top: 10%;
}

span.hashTags {
    margin-top: "10px";
    font-family: "SamsungOne_Bold";
    line-height: 25px;
    font-size: 19px;
    color: green;
}

img {
    width: auto;
    height: 320px;
}

p.price {
    font-size: 23px;
    font-weight: 800;
    font-family: "SamsungOne_Bold";
    color: #2189FF;
}

p.description {
    word-wrap: break-word;
    font-family: "SamsungOne_Bold";
}

div.quantity {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

button.btn_background {
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    font-size: 22px;
}

button.btn_background:hover {
    color: gray;
}

button.buy_btn {
    z-index: 2;
  width: 45%;
  cursor: pointer;
  font-family: 'SamsungOne_Bold';
  font-style: normal;
  text-align: center;
      font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  border: none;
  border-radius: 40px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #000000;
  border:1px solid #000000;
  color: #FFFFFF;
  margin: 5px;
}

button.now_btn {
    z-index: 2;
  width: 45%;
  cursor: pointer;
  font-family: 'SamsungOne_Bold';
  font-style: normal;
  text-align: center;
      font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  border: none;
  border-radius: 40px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #2189FF;
  border:1px solid #2189FF;
  color: #FFFFFF;
  margin: 5px;
}

button.buy_btn:hover {
    background-color: white;
    color: black;
}

button.now_btn:hover {
    background-color: white;
    color: black;
}

span.count {
    font-size: 22px;
    font-weight: bold;
}

div.buy_btn {
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

div.buy_btn * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
div.now_btn * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }