.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

.left-section {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.left-section .h2{
   font-family: 'SamsungOne_Bold';
   font-size: 24px;
   font-weight: 900;
   margin-Top: 20px;
  }

  .left-section p{
    font-family: 'SamsungOne_Bold';
    font-size: 20   px;
    font-weight: 600;
    margin-Top: 20px;
  }

.left-section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.right-section {
  flex: 1;
  padding: 20px;
}

.right-section .h2{
    font-family: 'SamsungOne_Bold';
    font-size: 22px;
    font-weight: 900;
  }
  
  .modal-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    display: grid;
    gap: 10px;
  }
  
  .modal-content label {
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
  
  .modal-content input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #4caf50;
  }

  .modal-buttons button[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #4caf50;
  }
  
  .modal-buttons button[type="button"] {
    background-color: #f00;
    color: #fff;
    border: 1px solid #f00;  }
  
  .modal-buttons button[type="button"]:hover {
    background-color: #fff;
    color: #f00;
  }

  .payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .payment div{
    font-weight: bold;
    text-align: left;
    width: 100%;
  }

  .payment input{
    width: 30%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }