.ProductList{
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: auto;
    list-style-type: none;
    justify-content: center;
  }

  .product a {
    text-decoration: none;
    color: inherit;
  }

  .product {
    width: 300px;
    height: 300px;
    left: 107px;
    top: 191px;

    margin-left : 2%;
    margin-right : 5%;
    margin-bottom : 4%;

    background: #dcdcdc;
    border-radius: 25px;
  }

  .product_backgroud {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 107px;
    top: 191px;

    background: #F8F8F8;
    border-radius: 25px;
  }

  .product_img_div {
    text-align: center;
  }

  .product img {
    width: 150px;
    height: 150px;
    margin-left: 68px;
    margin-top: 20px;
  }

  .product_title {
    padding-top: 30px;
    font-family: "SamsungOne_Bold";
    font-size : 1.3rem;
    font-weight: 800;
    text-align: center;
    color: black;
  }
  .product_des {
    padding-top: 10px;
    font-family: "SamsungOne_Bold";
    text-align: center;
    font-weight: 800;
    font-size : 1.2rem;
    color: black;
    margin : 2% 3% 2% 4%;
  }
  .product_mon {
    font-size : 1rem;
    margin : 2% 3% 1% 4%;
  }
  .product_link_div {
    text-align: center;
  }
  .product_link {
    position:inherit;
    font-size : 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background : #0B5ED9;
    color : white;
    border-radius : 10px;
    padding :5px;
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  figure.figure_class {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin-top: 1px;
    margin-right: 2px;
    margin-left: 1px;
    min-width: 230px;
    max-width: 315px;
    height: 300px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
  }

  figure.figure_class * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  figure.figure_class img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  figure.figure_class:after,
  figure.figure_class figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5;
    right: 3;
  }
  figure.figure_class:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    border-radius: 25px;
  }
  figure.figure_class figcaption {
    z-index: 1;
    padding: 40px;
  }
  figure.figure_class h3,
  figure.figure_class .links {
    width: 100%;
    padding: 40px;
  }
  figure.figure_class h3 {
    word-spacing: 30px;
    line-height: 1.1em;
    font-weight: 700;
    font-size: 1.4em;
    color:#ffffff;
    text-align: center;
    opacity: 0;
  }
  figure.figure_class p {
    font-size: 0.1em;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0;
    top: 50%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  figure.figure_class i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px 25px;
    font-size: 34px;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  figure.figure_class a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  figure.figure_class:hover img,
  figure.figure_class.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  figure.figure_class:hover:after,
  figure.figure_class.hover:after {
    opacity: 1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 1px;
  }
  figure.figure_class:hover h3,
  figure.figure_class.hover h3,
  figure.figure_class:hover p,
  figure.figure_class.hover p,
  figure.figure_class:hover i,
  figure.figure_class.hover i {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    text-align: center;
  }

  .ArrowIcon {
    opacity: 0;
    z-index: 1;
    color:#ffffff;
    transition: opacity 0.3s ease-in-out;
  }
  
  .figure_class:hover .ArrowIcon {
    opacity: 1;
  }