.cart-container {
  margin: 20px;
  padding: 10px;
}
.cart-empty {
  font-size: 3em;
  font-weight: bold;
}
.cart-title {
  font-size: 3em;
  font-weight: bold;
}

.cart-items-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* enable vertical scrolling */
  flex-direction: row; /* set items to stack horizontally */
  white-space: nowrap; /* prevent items from wrapping to next line */
}

.cart-items-container::-webkit-scrollbar {
  height: 1rem; /* adjust height of scrollbar */
}

.cart-items-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* adjust color of scrollbar thumb */
  border-radius: 0.25rem; /* adjust border radius of scrollbar thumb */
}

.cart-items-container::-webkit-scrollbar-track {
  background-color: transparent; /* adjust color of scrollbar track */
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 2%;
  margin-bottom: 20px;
  background-color: #dcdcdc;
  width: 300px;
  height: 550px;
  border-radius: 25px;
}
.cart-item {
  width: 300px;
  height: 470px;
}

.item-name {
  font-weight: bold;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.img-container {
  text-align: center;
}
.item-image {
  width: 270px;
  height: 205px;
}

.item-price {
  color: black;
  margin-left: 20px;
}

.item-quantity-container {
  display: flex;
  align-items: center;
}

.item-quantity {
  color: black;
  margin-left: 20px;
}

.cart-item-btns {
  text-align: center;
}

.remove-btn {
  background-color: rgb(219, 55, 55);
  padding: 12px 24px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 25px;
  border: none;
  color: black;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: rgb(229, 36, 36);
}

.increment-btn,
.decrement-btn {
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;

  background-color: #f0f0f0;
  cursor: pointer;
  margin-left: 10px;
}

.increment-btn:hover,
.decrement-btn:hover {
  background-color: #d8d8d8;
}
