.introduce-frame{

    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: left;
    background-image: url('https://nt.global.ssl.fastly.net/binaries/content/gallery/website/national/library/discover-and-learn/film-and-tv/drone-flying-cerne-abbas-dorset-1502257.jpg');

   
}
.introduce-content-left-title {
    /* width: 500px;
    height: calc(100% - 140px);
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 0.7;
    margin: 50px;
    padding: 20px;
    border-radius: 25px; */
    animation: fadein 1s ease-in-out;

    position: relative;
    font-family: 'SamsungOne_Bold';
    font-style: normal;
    font-weight: 900;
    white-space: pre-wrap;

    font-size: 50px;
    line-height: 60px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
  }

.introduce-content-frame {
    width: 500px;
    height: calc(100% - 140px);
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    text-align: center;
    opacity: 0.7;
    margin: 50px;
    padding: 20px;
    border-radius: 25px;
    animation: fadein 1s ease-in-out;
  }
  .introduce-content-text {
    position: relative;
    font-family: 'SamsungOne_Bold';
    font-style: normal;
    font-weight: 500;
    white-space: pre-wrap;

    font-size: 18px;
    line-height: 30px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;

    overflow: hidden;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 0.7;
        transform:none;
    }
}
