.introduce-content-container {
    width: calc(100%);
    justify-content: center;
    padding-bottom: 80px;
    
}

.introduce-content-title-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
}
.introduce-content-title {
    height: 100px;
    width: calc(100%);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: inline-block;
}

.introduce-content-text {
    position: relative;
    font-family: 'SamsungOne_Bold';
    font-style: normal;
    font-weight: 900;
    white-space: pre-wrap;
    font-size: 35px;
    line-height: 50px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
}

/*초소형*/
.introduce-content-image-container{
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
}
.introduce-content-image {
    height: 400px;
    width: 40%;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 25px;
}
.introduce-content-image-text {
    height: 100%;
    text-align: center;
    margin: 25px;
    display: flex;
    align-items: center;

}

/*생기는 효과*/
.slide-in {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .slide-in.visible {
    opacity: 1;
    transform: translateY(0);
  }