.header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.outlet-container {
    /* flex-grow: 1; */
    /* position: relative;
  width: 100%;
  height: 100%; */
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  background-size: cover;
  background-position: center;
  /* background-image: url('https://www.hdec.kr/FileContents/EditorImg/20220308/20200427_7886_770.jpg'); */
}

.header-frame{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;


  }
  .header-top-frame{
    position: relative;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 0px;
    text-align: center;
    background: #2400FE;
  }
  
  .header-nav-frame{
    position: relative;
    width: 100%;
    height: 70px;
    align-items: center;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
  }

  .header-name{
    position: relative;
    font-family: 'Bebas_Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #2400FE;
    
  }
  .header-name:hover{
    color: #000000;
  }
  .header-name:hover::before {
    width: 100%;
  }
  .header-name::before {
    content: "";
    position: absolute;
    bottom: -5px; /* 자식 요소가 위치할 곳을 설정 */
    left: 0;
    width: 0;
    height: 5px;
    background-color: #000000;
    transition: all 0.2s ease-out;
  }

  .header-name-item:active {
    transform: scale(0.98);
  }

  .header-nav-button-frame{
    width: 500px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .header-nav-button-item{
    position: relative;
    font-family: 'Bebas_Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    border: none;
    background-color: transparent;
  }
  .header-nav-button-item:hover{
    color: #2400FE;
  }
  .header-nav-button-item::before {
    content: "";
    position: absolute;
    bottom: -5px; /* 자식 요소가 위치할 곳을 설정 */
    left: 0;
    width: 0;
    height: 5px;
    background-color: #2400FE;
    transition: all 0.2s ease-out;
  }
  
  .header-nav-button-item:hover::before {
    width: 100%;
  }
  .header-nav-button-item:active {
    transform: scale(0.98);
  }
  
  .follow-frame-left-side header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(180, 191, 255);
  }
  
  .follow-frame-left-side header .search{
    width: 100%;
    margin: -0.55rem 2rem 0.2em 2rem;
    display: flex;
    align-items: center;
  }
  
  .follow-frame-left-side header .search img{
    width: 16px;
    height: 16px;
    z-index: 100;
  }
  
  .follow-frame-left-side header .search input{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    border: none;
  }
  
  .follow-frame-left-side header .search input:focus{
    outline: none;
  }
  
  .follow-frame-right-side{
    width: 49%;
    height: 100%;
    border-radius: 1rem;
    margin-left: 1%;
  }
  
  .follow-frame-right-side header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(180, 191, 255);
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color:rgb(161, 161, 161);
  }
  
  .follow-frame-right-side header .items{
    padding: 0 0.7rem;
    cursor: pointer;
  }
  
  .follow-frame-right-side header .isClicked{
    color:black
  }
  
  .follow-frame main{
    padding: 1.25rem;
  }
  
  .follow-frame main .user{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
  }
  
  .follow-frame main .user button{
    background-color: #e9e9e9;
    border: 1px solid black;
    border-radius: 0.5rem;
    border: none;
    margin: 0.2rem 0;
  }