.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-frame{
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Sansation_Bold";
  src: url("./fonts/Sansation_Bold.ttf");
  font-family: "Sansation_Bold_Italic";
  src: url("./fonts/Sansation_Bold_Italic.ttf");
  font-family: "Sansation_Bold_Italic";
  src: url("./fonts/Sansation_Bold_Italic.ttf");
  font-family: "Sansation_Light";
  src: url("./fonts/Sansation_Light.ttf");

  font-family: 'Archivo', sans-serif;

  font-family: 'Bebas_Regular';
  src: url("./fonts/bebas_neue/BebasNeue-Regular.ttf");
}

